:root {
    --cardTextColor: #333;
    --garkGreen: #037c1f;
    --red: #fa396b;
}

/* card */

.card {
    margin: 50px;
    width: 320px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', sans-serif;
    color: var(--cardTextColor);
}

.card__header {
    position: relative;
    display: flex;
    height: 200px;
    background-image: url('https://picsum.photos/320/200?random=1&blur=2');
}

.card__avatar {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.card__avatar-image {
    width: 100%;
}

.card__content {
    padding: 20px 20px;
}

.card__title {
    padding-bottom: 16px;
    margin: 0;
}

.card__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.card__footer {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__message {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
}

.card__button {
    border: none;
    background-color: var(--garkGreen);
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    min-width: 160px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.card__button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: default;
}

/* list-item */

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.list-item:hover .list-item__delete {
    display: block;
}

.list-item__label {
    color: var(--red);
    cursor: pointer;
}

.list-item__label input {
    cursor: inherit;
}

.list-item__label_checked {
    color: var(--garkGreen);
    text-decoration: line-through;
}

.list-item__delete {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.list-item__delete::after {
    content: '\274C';
}
